<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pin.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag(@pin.photo, :style=>'width:500px' )%>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @pin.description %>
</p>
<br>

<%= link_to 'Edit', edit_pin_path(@pin), :class=> 'btn btn btn-secondary',:style =>'text-decoration:none' %> |
<%= link_to 'Back', pins_path, :class=> 'btn btn btn-secondary',:style =>'text-decoration:none' %>


